h1{
	display: inline-block;
	margin-top: -10px;
	color: #00CEFF;
}
.bg-primary{
	width: 100%;
	padding: 6px 0;
	margin: 0px;
display: inline-block;
background: #00A1FF;
border: 2px solid #eaeaea;
text-align: center;
color: #fff;

}

a{
	text-decoration: none;
}
.bg-primary:hover{
	color: #00CEFF;
	background: #000;

}
